body {
  display: flex;
  justify-content: center;
  /* background-color: aqua; */
}
hr {
  width: 100vw;
  margin-top: 30px;
}
.puppy-name {
  display: flex;
  justify-content: center;
  border: solid 2px black;
  border-radius: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.puppy-name ul li {
  list-style-type: none;
  font-size: larger;
  text-align: center;
}
.puppy-name ul li:hover {
  font-weight: bold;
  cursor: pointer;
}
.puppy-name.selected {
  font-weight: bold;
}
.dog-info {
  background-color: green;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.dog-info h2 {
  text-decoration: underline;
}
.dog-info h2,
.dog-info p {
  text-align: center;
}
.dog-info p li,
.dog-info p {
  list-style-type: none;
  font-size: larger;
}
h1 {
  text-align: center;
}
